{% extends 'base.html' %}
{% load static from staticfiles %}

{% block extra_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
{% endblock %}

{% block body %}
    <body>
        <div id="map" style="height:400px"></div>
        <div id="text"><img src="{% static "images/test.png" %}" id="pic" width="600px" /></div>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaFIdtdCCgrHuTM4NDJL8hLPVdG60hWIc&callback=initMap">
        </script>

    </body>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var opts = {
        lines: 10, // The number of lines to draw
        length: 7, // The length of each line
        width: 4, // The line thickness
        radius: 10, // The radius of the inner circle
        corners: 1, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        color: '#000', // #rgb or #rrggbb
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false, // Whether to render a shadow
        hwaccel: false, // Whether to use hardware acceleration
        className: 'spinner', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        top: 25, // Top position relative to parent in px
        left: 25 // Left position relative to parent in px
    };
    var target = document.getElementById('map');
    var spinner = new Spinner(opts).spin(target);
</script>
<script type="text/javascript">
    $(document).ready(function() {
        var URL = "{% url 'update_location' %}";
        var map;
        var text = document.getElementById("text");
        var y;
        var markers = [];
        var infoWindow;

        detectBrowser();
        getLocation();

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(initMap, showError);
            } else {
                text.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function initMap(position) {
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            updateLocation(lat, lon);

            var latlon = new google.maps.LatLng(lat, lon);

            var mapOptions = {
                center:latlon,zoom:13,
                mapTypeId:google.maps.MapTypeId.ROADMAP,
                mapTypeControl:false,
                navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
            }

            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var marker = new google.maps.Marker({
                position:latlon,
                map:map,
                title:"You are here!",
                icon: {path: google.maps.SymbolPath.CIRCLE, fillColor: '#6C3B78', fillOpacity: 1.0, strokeColor: '#6C3B78', scale: 4}
            });
            infoWindow = new google.maps.InfoWindow();
        }

        function detectBrowser() {
            var useragent = navigator.userAgent;
            var mapdiv = document.getElementById("map");
            var pic = document.getElementById("pic");

            if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
                mapdiv.style.width = '100%';
                mapdiv.style.height = '63%';
                pic.style.width = '100%';
            } else {
                mapdiv.style.width = '600px';
                mapdiv.style.height = '480px';
                pic.style.width = '600px;'
            }
        }

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "User denied the request for Geolocation."
                    break;
                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "Location information is unavailable."
                    break;
                case error.TIMEOUT:
                    x.innerHTML = "The request to get user location timed out."
                    break;
                case error.UNKNOWN_ERROR:
                    x.innerHTML = "An unknown error occurred."
                    break;
            }
        }

        function updateLocation(lat, lon) {
            var data = {'coords': lat + "," + lon};
            $.post('/update_location', data, function(response){

                var points = response.results;
                for (i in points) {
                    var lat = points[i]['lat'];
                    var lon = points[i]['lon'];
                    pos = new google.maps.LatLng(lat, lon);
                    var label = points[i]['label'];
                    var quote = points[i]['quote'];
                    var bookTitle = points[i]['book'];
                    var bookAuthor = points[i]['author']
                    var m = new google.maps.Marker({
                        position:pos,
                        map:map,
                        title:label,
                        quote:quote,
                        bookTitle:bookTitle,
                        bookAuthor:bookAuthor,
                        icon: {path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW, fillColor: '#6C3B78', fillOpacity: 1.0, strokeColor: '#EE6969', scale: 4, strokeWeight: 3}
                    });
                    google.maps.event.addListener(m, 'click', (function(m){
                        return function() {
                            var content = '<strong>'+m.title+'</strong><br/><em>'+m.bookTitle+' - '+m.bookAuthor+'</em><br/>'+m.quote;
                            infoWindow.setContent(content);
                            infoWindow.open(map, m);
                         }
                    })(m));
                    markers.push(m);
                }
                console.log(markers);
            });
        }
    })
</script>
{% endblock %}
